body {
    background-color: rgb(231, 203, 231);
}

hr {
    width: 80%;
    border: 1px solid rgb(56, 18, 61);
}
#game {
    font-family: "Luminari", "fantasy";
    color: rgb(56, 18, 61);
    text-align: center;
}
.h1 {
    font-size: 2.5em;
    text-align: center;
    padding: .75em;
}

.content1 {
    font-size: 1.5em;
    padding: .75em;
}

.content {
    font-size: 1.5em;
    padding: .75em;
}

img {
    width: 3%;
}
